.tit{
    font-size: 50px;
    margin: 1%;
    
}

.texto{
    font-size: 46px;
    color: #720411;
    margin: 1%;
}
#letra{
  font-size: 18px;
  width: 500px;
}
#cont{
  margin-top: -1%;
}
.enca{
  color: #720411;
}
.pieimg{
  margin-top: 10px;
  font-size: 10px;
  width: 243px;
  margin-left: 150px;
}

.div1{
  margin-left: 2%;
  display: inline-block;
  width: 10%;
}
.div2{
  margin-left: -6%;
  width: 25%;
}


.anita{
  border-radius: 100%;
  width: 80px;

}

  .titulo {
  font-family: Nova Regular;
  font-size: 20px;
  margin-left: 25%;
  color: #254F6F;
  text-align: center;
  width: 80%;
  }

  .titulo1 {
    font-family: Nova Regular;
    font-size: 15px;
    margin-left: 25%;
    color: #254F6F;
    text-align: center;
    }

.fecha {
    font-family: Nova Regular;
    font-size: 15px;
    margin-left: 25%;
  }
.encabezado{
  display: flex;
      align-items: center;
      margin-bottom: -2%;
}
.ts{
    width: 70%;
}


#bot{
  margin-left: 55px;
  margin-top: -24px;
}




.button {
    display: inline-grid; /* Cambiado a display: inline-grid */
    background-color: #254F6F;
    color: white;
    cursor: pointer;
    margin: 3%;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    place-items: center; /* Se utiliza place-items para centrar contenido en grid */
    font-size: 20px;
    text-align: center;
}

@media only screen and (min-width: 350px) and(max-width: 700px) {
  .banner img{
    margin-left: 4%;

  }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .banner img{
    margin-left: 30%;
  }
}