#cardo1{
  font-family: 'Cardo', serif;
}
.sans{
  font-family: 'Open Sans', sans-serif;
}
#mon1{
  font-family: 'Montserrat', sans-serif;
}

h5{
  font-family: 'Cardo', serif;
}
.ham{
  font-family: 'Hammersmith One', sans-serif;
}
.tit{
  font-size: 50px;
  margin: 1%;
  
}

.texto{
  font-size: 46px;
  color: #720411;

  margin-top: 100%;
}
#letra{
font-size: 18px;
width: 500px;
}

#cont{
margin-top: -1%;
}

.pieimg{
margin-top: 10px;
font-size: 10px;
width: 243px;
margin-left: 155px;
}

.div1{
margin-left: 2%;
display: inline-block;
width: 10%;
}
.div2{
margin-left: -6%;
width: 20%;
}


.anita{
border-radius: 100%;
width: 80px;

}

.titulo {
  font-family: 'Montserrat', sans-serif;
font-size: 20px;
margin-left: 25%;
color: #254F6F;
text-align: center;
}
/* .res{
  text-align: center;
} */
.titulo1 {
  
  font-size: 15px;
  margin-left: 25%;
  color: #254F6F;
  text-align: center;
  }

.fecha {
  font-size: 15px;
  margin-left: 25%;
}
.encabezado{
display: flex;
    align-items: center;
    margin-bottom: -2%;
}

.ts1{

  width: 50%;
}

.ts5{
  width: 50%;
}


#bot{
margin-left: 55px;
margin-top: -24px;
}

.ts4{
  width: 40%;
}



.button {
  display: inline-grid; /* Cambiado a display: inline-grid */
  background-color: #254F6F;
  color: white;
  cursor: pointer;
  margin: 3%;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  place-items: center; /* Se utiliza place-items para centrar contenido en grid */
  font-size: 20px;
  text-align: center;
}

@media only screen and (min-width: 350px) and(max-width: 700px) {
.banner img{
  margin-left: 4%;

}
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
.banner img{
  margin-left: 30%;
}
}