.cardo{
    font-family: 'Cardo', serif;
}
.sans{
    font-family: 'Open Sans', sans-serif;
}
.mon{
    font-family: 'Montserrat', sans-serif;
}

h5{
    font-family: 'Cardo', serif;
}
.ham{
    font-family: 'Hammersmith One', sans-serif;
}
.enca{
    color: #720411;
}
.gris{
    color: #737373;
}
.negro{
    color: black;
}